body{ 
    
}

/*section{
        padding: 0 15px;
      
      
      @media (min-width: 575.98px){
        section {
          padding: 0 calc(50% - 270px);
        }
      }
      
      @media (min-width: 767.98px){
        section {
          padding: 0 calc(50% - 360px);
        }
      }
      
      @media (min-width: 991.98px) {
        section {
          padding: 0 calc(50% - 480px);
        }
      }
      
    }*/
    
    .container{
        display: flex;
    }


    .products{
        display: flex;
        justify-content: center;
    }

    .product-item {
        display: block;
       max-width: 300px;
       max-height: 300px;
       text-align: center;
       /*margin: 0 auto;*/
       border-bottom: 2px solid #F5F5F5;
       background: white;
       font-family: "Open Sans";
       transition: .3s ease-in;
    }
    .product-item:hover {
       border-bottom: 2px solid #fc5a5a;
    }
    .product-item img {
       
       max-width: 50%;
       max-height: 60%;
    }
    .product-list {
       background: #fafafa;
       padding: 15px 0;
    }
    .product-list h3 {
       font-size: 18px;
       font-weight: 400;
       color: #444444;
       margin: 0 0 10px 0;
    }
    .price {
       font-size: 20px;
       color: #fc5a5a;
       display: block;
       margin-bottom: 12px;
    }
    .button {
       /*text-decoration: none;
       display: inline-block;*/
       padding: 0 12px;
       background: #cccccc;
       color: white;
       text-transform: uppercase;
       font-size: 12px;
       line-height: 28px;
       transition: .3s ease-in;
    }
    .product-item:hover .button {
       background: #fc5a5a;
    }